SourceCode/osVodigiWeb/osVodigiWeb6x/Media/
*.suo
*.user
_ReSharper.*
**/bin/
**/obj/
**/packages/
**/.vs/
SourceCode/osVodigiNG/osVodigiWeb7/osVodigiWeb7.sln
/SourceCode/osVodigiNG/osVodigiWeb7/Migrations
/SourceCode/osVodigiNG/osVodigiWeb7/VodigiLogsContext.db
/SourceCode/osVodigiNG/osVodigiWeb7/VodigiContext.db
