<li class="bx--header__submenu" data-header-submenu>
    <a class="bx--header__menu-item bx--header__menu-title" aria-haspopup="true"
       aria-expanded="false" href="javascript:void(0)" tabindex="-1">
        Player Manager
        <svg class="bx--header__menu-arrow" width="12" height="7" aria-hidden="true">
            <path d="M6.002 5.55L11.27 0l.726.685L6.003 7 0 .685.726 0z" />
        </svg>
    </a>
    <ul class="bx--header__menu" aria-label="L1 link 3">
        <li role="none">
            <a class="bx--header__menu-item" tabindex="-1" asp-area="AccountPortal" asp-controller="Player" asp-action="Index">
                <span class="bx--text-truncate--end">
                    Players
                </span>
            </a>
        </li>
        <li role="none">
            <a class="bx--header__menu-item" tabindex="-1" asp-area="AccountPortal" asp-controller="PlayerGroup" asp-action="Index">
                <span class="bx--text-truncate--end">
                    Player Group
                </span>
            </a>
        </li>
        <li role="none">
            <a class="bx--header__menu-item" tabindex="-1" asp-area="AccountPortal" asp-controller="PlayerGroupSchedule" asp-action="Index">
                <span class="bx--text-truncate--end">
                    Player Group Schedule
                </span>
            </a>
        </li>
        <li role="none">
            <a class="bx--header__menu-item" tabindex="-1" asp-area="AccountPortal" asp-controller="PlayerSettingAccountDefault" asp-action="Index">
                <span class="bx--text-truncate--end">
                    Player Default Settings
                </span>
            </a>
        </li>
    </ul>
</li>
