<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VodigiWebNG:AccountPortal - @ViewData["Title"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/material-admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/material-admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/material-admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/material-admin/vendors/jvectormap/jquery-jvectormap.css">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/material-admin/css/livescreen/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/material-admin/images/favicon.png" />
</head>
<body>
    <script src="~/material-admin/js/preloader.js"></script>
    <div class="body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <partial name="_sidebarPartial" ... />

        <div class="main-wrapper mdc-drawer-app-content">
            <!-- partial:partials/_navbar.html -->
            <partial name="_navbarPartial" ... />
            <!-- partial -->
            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    @RenderBody()
                </main>
                <!-- partial:partials/_footer.html -->
                <footer>
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <span class="tx-14">Copyright © 2019 <a href="#" target="_blank">LiveScreen</a>. All rights reserved.</span>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
                                <div class="d-flex align-items-center">
                                    <a href="">Documentation</a>
                                    <span class="vertical-divider"></span>
                                    <a href="">FAQ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>

    <partial name="_FooterScriptsPartial" ... />
</body>
</html>


