<!-- Premiun Card -->
<div class="mdc-card premium-card">
    <div class="d-flex align-items-center">
        <div class="mdc-card icon-card box-shadow-0">
            <i class="mdi mdi-shield-outline"></i>
        </div>
        <div>
            <p class="mt-0 mb-1 ml-2 font-weight-bold tx-12">Material Dash</p>
            <p class="mt-0 mb-0 ml-2 tx-10">Pro available</p>
        </div>
    </div>
    <p class="tx-8 mt-3 mb-1">More elements. More Pages.</p>
    <p class="tx-8 mb-3">Starting from $25.</p>
    <a href="https://www.bootstrapdash.com/product/material-design-admin-template/" target="_blank">
        <span class="mdc-button mdc-button--raised mdc-button--white">Upgrade to Pro</span>
    </a>
</div>