@{ ViewData["Title"] = "Home Page"; }


<div class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build signage application that can run anywhere.
                    <a class="btn btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
