@{
    ViewData["Title"] = "Products/Services";
}
<div class="row">
    <p>Lista produtos/serviços fica aqui</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Produto 1</td>
                <td>aqui vai aparecer pequena descrição produto, detalhe estara na pagina</td>
                <td>30€</td>
            </tr>
            <tr>
                <td>Produto 2</td>
                <td>aqui vai aparecer pequena descrição produto 1</td>
                <td>20€</td>
            </tr>
            <tr>
                <td>Produto 3</td>
                <td>aqui vai aparecer pequena descrição produto 1</td>
                <td>50€</td>
            </tr>
        </tbody>
    </table>
</div>
